body {
    background-image: url(../images/subliminal.gif);
    background-position: center;
    background-size: auto;
}

#headshot {
    width: 40%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#name_pic {
    display:flex;
    justify-content:center;
    align-items:center
}

#intro_text {
    display:flex;
    justify-content:center;
    align-items:center
}

.flow-text {
    width: 95%;
    margin-left: 10px;
    margin-top: 30px;
    align-content: center;
}

header {
    min-height: 50px;
}

.parallax-container {
    height: "100px;";
}

.parallax {
    width: "100px";
}

h2 {
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal-trigger {
    margin: 20px;
    width: 300px;
}

#pic1 {
    background-color:#e9a500;
}

#pic6 {
    height: 100px;
}

#pic7 {
    background-color: white;
}

@media screen and (max-width: 600px) {
    .modal-trigger {
        margin: 10px;
    }
}


@media screen and (max-width: 900px) {
    .parallax-container {
        height: "100px";
        width: 100%;
    }
  
}

@media screen and (max-width: 350px) {
    .btn-large {
        margin: 5px;
    }
}
/*
@media screen and (max-width: 600px) {
    header {
        min-height: 90%;
    }
    #about {
        height: 99%;
    }

    #pic1 {
        position: relative;
        height: 250px;
    }
    #pic2 {
        position: relative;
        top: 50px;
        margin-bottom: 40px;
        height: 250px;
        left: 5px;
    }
    #pic3 {
        position: relative;
        top: 75px;
        height: 250px;
        margin-bottom: 75px;
    }
    
    #pic4 {
        position: relative;
        top: 80px;
        width: 500px;
        margin-bottom: 75px;
    }
    #pic5 {
        position: relative;
        top: 75px;
        width: 250px;
        margin-bottom: 75px;
    }
    #pic6 {
        position: relative;
        height: 250px;
        top: 20px;
    }
    #pic7 {
        position: relative;
        height: 250px;
        top: 20px;
    }
}

@media screen and (max-width: 480px) {
    header {
        min-height: 99%;
    }
    #about {
        height: 99.5%;
    }

    #introText {
        margin-bottom: 1px;
    }
    #pic1 {
        position: relative;
        height: 250px;
        left: 40px;
    }
    #pic2 {
        position: relative;
        top: 50px;
        margin-bottom: 40px;
        height: 250px;
        left: 10px;
    }
    #pic3 {
        position: relative;
        top: 75px;
        height: 250px;
        margin-bottom: 75px;
        left: 25px;
    }
    
    #pic4 {
        position: relative;
        top: 80px;
        width: 500px;
        margin-bottom: 75px;
        left: 30px;
    }
    #pic5 {
        position: relative;
        top: 75px;
        width: 250px;
        margin-bottom: 75px;
        left: 30px;
    }
    #pic6 {
        position: relative;
        height: 250px;
        top: 20px;
        left: 50px;
    }
    #pic7 {
        position: relative;
        height: 250px;
        top: 20px;
        left: 15px;
    }
}

@media screen and (max-width: 400px) {
    .brand-logo {
        font-size: 1.75rem !important;
    }
} */