.headshot {
    width: 35%;
    float:left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    align-content: center;
}

#intro {
    padding: 20px;
    margin-top: 100px;
    height: 400px;
    align-content: center;
}

#introText{
    margin-top: 75px;
}

.flow-text {
    width: 95%;
    margin-left: 10px;
    margin-top: 30px;
    align-content: center;
}

header {
    background-image: url(../images/abstract-attractive-backdrop-988872.jpg);
    background-size: cover;
    background-position: center;
    min-height: 750px;
}

@media screen and (max-width: 670px) {
    header {
        min-height: 500px;
    }
}

@media screen and (max-width: 400px) {
    .brand-logo {
        font-size: 1.75rem !important;
    }
}

#pic1 {
    position: relative;
    left: 100px;
}

#pic2 {
    position: relative;
    top: 50px;
    right: 30px;
}

#pic3 {
    position: relative;
    top: 75px;
    left: 35px;
}

#pic4 {
    position: relative;
    top: 80px;
    right: 35px;
}

#pic5 {
    position: relative;
    top: 75px;
    left: 120px;
    width: 225px;
}

#pic6 {
    position: relative;
    height: 300px;
    top: 20px;
    right: 35px;
}

#pic7 {
    position: relative;
    height: 250px;
    top: 20px;
    left: 100px;
}

.parallax-container {
    height: "100px;"
}

.parallax {
    height: "100%";
    width: "100%";
}