.headshot {
    width: 50%;
    float:left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    align-content: center;
}

#intro {
    height: 950px;
}

#about {
    padding: 20px;
    margin-top: 15px;
    height: 775px;
    align-content: center;
}

#introText{
    margin-top: 5px;
}

.flow-text {
    width: 95%;
    margin-left: 10px;
    margin-top: 30px;
    align-content: center;
}

header {
    background-image: url(../images/abstract-attractive-backdrop-988872.jpg);
    background-size: cover;
    background-position: center;
    min-height: 750px;
}

.parallax-container {
    height: "100px;"
}

.parallax {
    height: "100%";
    width: "100%";
}

#pic1 {
    position: relative;
    left: 100px;
}

#pic2 {
    position: relative;
    top: 50px;
    right: 30px;
}

#pic3 {
    position: relative;
    top: 75px;
    left: 35px;
}

#pic4 {
    position: relative;
    top: 80px;
    right: 35px;
}

#pic5 {
    position: relative;
    top: 75px;
    left: 120px;
    width: 225px;
}

#pic6 {
    position: relative;
    height: 300px;
    top: 20px;
    right: 35px;
}

#pic7 {
    position: relative;
    height: 250px;
    top: 20px;
    left: 100px;
}


@media screen and (min-width: 922px) {
    header {
        min-height: 800px;
    }
    #intro{
        height: 75%;
    }
    #about {
        height: 97.5%;
    }
    #pic3 {
        position: relative;
        top: 75px;
        left: 50px;
    }
    #pic5 {
        position: relative;
        top: 75px;
        left: 50px;
        width: 225px;
    }
    #pic7 {
        position: relative;
        height: 250px;
        top: 20px;
        left: 50px;
    }
}

@media screen and (min-width: 600px) {
    header {
        min-height: 800px;
    }
    #intro{
        height: 75%;
    }
    #about {
        height: 97.5%;
    }
    #pic1 {
        position: relative;
        height: 250px;
    }
    #pic2 {
        position: relative;
        top: 50px;
        margin-bottom: 40px;
        height: 250px;
        left: 5px;
    }
    #pic3 {
        position: relative;
        top: 75px;
        height: 250px;
        margin-bottom: 75px;
    }
    
    #pic4 {
        position: relative;
        top: 80px;
        width: 500px;
        margin-bottom: 75px;
    }
    #pic5 {
        position: relative;
        top: 75px;
        width: 250px;
        margin-bottom: 75px;
    }
    #pic6 {
        position: relative;
        height: 250px;
        top: 20px;
    }
    #pic7 {
        position: relative;
        height: 250px;
        top: 20px;
    }
  
}

@media screen and (max-width: 600px) {
    header {
        min-height: 90%;
    }
    #about {
        height: 99%;
    }

    #pic1 {
        position: relative;
        height: 250px;
    }
    #pic2 {
        position: relative;
        top: 50px;
        margin-bottom: 40px;
        height: 250px;
        left: 5px;
    }
    #pic3 {
        position: relative;
        top: 75px;
        height: 250px;
        margin-bottom: 75px;
    }
    
    #pic4 {
        position: relative;
        top: 80px;
        width: 500px;
        margin-bottom: 75px;
    }
    #pic5 {
        position: relative;
        top: 75px;
        width: 250px;
        margin-bottom: 75px;
    }
    #pic6 {
        position: relative;
        height: 250px;
        top: 20px;
    }
    #pic7 {
        position: relative;
        height: 250px;
        top: 20px;
    }
}

@media screen and (max-width: 480px) {
    header {
        min-height: 99%;
    }
    #about {
        height: 99.5%;
    }

    #introText {
        margin-bottom: 1px;
    }
    #pic1 {
        position: relative;
        height: 250px;
    }
    #pic2 {
        position: relative;
        top: 50px;
        margin-bottom: 40px;
        height: 250px;
        left: 5px;
    }
    #pic3 {
        position: relative;
        top: 75px;
        height: 250px;
        margin-bottom: 75px;
    }
    
    #pic4 {
        position: relative;
        top: 80px;
        width: 500px;
        margin-bottom: 75px;
    }
    #pic5 {
        position: relative;
        top: 75px;
        width: 250px;
        margin-bottom: 75px;
    }
    #pic6 {
        position: relative;
        height: 250px;
        top: 20px;
    }
    #pic7 {
        position: relative;
        height: 250px;
        top: 20px;
    }
}

@media screen and (max-width: 400px) {
    .brand-logo {
        font-size: 1.75rem !important;
    }
}